{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SADN - Strategic, Agile, Dynamic and Now!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <video autoplay muted loop playsinline class="video-background">
    <!--
      If you're using Django's staticfiles, put your video in a `static/videos/` folder
      and reference it like this:
      <source src="{% static 'img/0203.mp4' %}" type="video/mp4">
    -->
    <source src="{% static 'img/0203.mp4' %}" type="video/mp4">
  </video>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{% static 'img/logo.png' %}" alt="Global">
    <p>SADN</p>
  </a>
  <p class="device-notification--message">SADN has so much to offer for your Business.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="{% static 'img/favicon.png' %}" alt="Global">
            <p>SADN</p>
          </a>
          <button class="header--cta cta">Hire Us</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Portfolio</span></li>
            <li><span>About</span></li>
            <li><span>Contact</span></li>
            <li><span>Hire us</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>We <br>     Craft <br>Digital <br>Experiences! </h1>
                <button class="cta">Hire Us
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"></path>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>

              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Social Media Growth</h3>
                  <p>AI-driven strategies for social media management, including user-generated content creation, to boost engagement and grow your online presence.</p>
                </a>
                <a href="#0">
                  <h3>Web Development and Design</h3>
                  <p>Stunning yet responsive websites with intuitive designs that are optimized for user experience, SEO, and business growth.</p>
                </a>
                <a href="#0">
                  <h3>AI-Powered Chatbot Integration</h3>
                  <p>Seamless customer experiences with custom AI-driven chatbots that automate support, enhance engagement, and streamline business operations.</p>
                </a>
              </div>
            </div>
          </div>
          <!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          -->


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/card2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.opulent-elite.com">Exclusive B2B Market</a></h4>
                <p>Opulent International</p>
                <div>
                  <a href="{% static 'img/portfolio/card2.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Exclusive B2B Market" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.opulent-elite.com" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/sportoinsta.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.instagram.com/sporto.club/">Sporto Club</a></h4>
                <p>Instagram</p>
                <div>
                  <a href="{% static 'img/portfolio/sportoinsta.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Sporto Club" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.instagram.com/sporto.club/" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/card1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://vle.tmuc.edu.pk/login/index.php">UniTrix - Student Centre</a></h4>
                <p>TMUC</p>
                <div>
                  <a href="{% static 'img/portfolio/card1.png' %}" class="link-preview" data-lightbox="portfolio" data-title="UniTrix - Student Centre" title="UniTrix - Student Centre"><i class="ion ion-eye"></i></a>
                  <a href="https://vle.tmuc.edu.pk/login/index.php" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/Screenshot%202024-12-06%20at%209.34.30%20PM.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.paklap.pk/">E Commerce - Laptops</a></h4>
                <p>PakLap</p>
                <div>
                  <a href="{% static 'img/portfolio/Screenshot%202024-12-06%20at%209.34.30%20PM.png' %}" class="link-preview" data-lightbox="portfolio" data-title="E Commerce - Laptops" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.paklap.pk/" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/card3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://starddreams.com">Jewellery Store</a></h4>
                <p>Stardust Dreams Jewellery</p>
                <div>
                  <a href="{% static 'img/portfolio/card3.png' %}" class="link-preview" data-lightbox="portfolio" data-title="E Commerce - Jewellery Store" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://starddreams.com" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/Screenshot%202024-12-06%20at%209.49.11%20PM.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.ptn.com.pk/">Transport Tracking</a></h4>
                <p>Pakistan Transport Network</p>
                <div>
                  <a href="{% static 'img/portfolio/Screenshot%202024-12-06%20at%209.49.11%20PM.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Transport Tracking System" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.ptn.com.pk/" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/Screenshot%202024-12-06%20at%209.56.56%20PM.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.instagram.com/sporto.club/">Business Management</a></h4>
                <p>Sporto Club - Indoor Cricket</p>
                <div>
                  <a href="{% static 'img/portfolio/Screenshot%202024-12-06%20at%209.56.56%20PM.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Business Management" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.instagram.com/sporto.club/" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>

          </div>
              <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/Screenshot%202024-12-06%20at%2010.06.09%20PM.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.universal-exporters.com/#">Business Portfolio</a></h4>
                <p>UNIEX</p>
                <div>
                  <a href="{% static 'img/portfolio/Screenshot%202024-12-06%20at%2010.06.09%20PM.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Business Portfolio Website" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="https://www.universal-exporters.com/#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="{% static 'img/portfolio/UEEXPORTS.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="https://ueexportspk.com/textile-export/">Business Portfolio</a></h4>
                  <p>UE Exports</p>
                  <div>
                    <a href="{% static 'img/portfolio/UEEXPORTS.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Business Portfolio Website" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://ueexportspk.com/textile-export/" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/ChatAI.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Appointment ChatBot</a></h4>
                <p>
                  Integrated Into Restaurant Websites
                </p>
                <div>
                  <a href="{% static 'img/portfolio/ChatAI.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Restaurant Appointment ChatBot" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial-1.jpeg' %}" class="testimonial-img" alt="">
                <h3>Opulent International</h3>
                <h4>Textile Exporter</h4>
                <p>
                Collaborating with sadn was a seamless and rewarding experience. They helped us transform our business with a custom b2b market that showcased our premium textiles to a global audience.                </p>
              </div>
    
              <div class="testimonial-item">
                <img src=".{% static 'img/testimonial-2.svg' %}" class="testimonial-img" alt="">
                <h3>Stardust Dreams Jewellery</h3>
                <h4>Handmade Jewellery</h4>
                <p>
                Working with the people at sadn was an exciting journey for us as together we crafted a digital solution that truly reflected our artistry and craftsmanship. Through a custom eCommerce platform, we showcased our stunning handmade jewellery to a wider market.</p>
              </div>
    
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial-3.png' %}" class="testimonial-img" alt="">
                <h3>DABAutoConcept</h3>
                <h4>Auto Detailing</h4>
                <p>
                  Their attention to quality and detail in their services was reflected in the sleek, user-friendly platform we designed. The collaboration was a perfect match, resulting in a digital experience as polished as the cars we work on.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial-4.jpeg' %}" class="testimonial-img" alt="">
                <h3>Universal Enterprises</h3>
                <h4>Importer & Exporter</h4>
                <p>
                  Partnering with sadn was a transformative experience for Universal Enterprises. As a global importer and exporter, we needed a digital solution that could effectively showcase our diverse portfolio and streamline operations for our clients worldwide.                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>The Minds Behind the Mission</h3>
          <p>Our team is more than a collection of professionals – we are a family of innovators, collaborators, and dreamers, committed to bringing your vision to life with passion and expertise</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/sheikhadeen.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>A.Sheikh</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href="https://youtube.com/@visionaryvault_ai"><i class="fa fa-youtube-play"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <!--<a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/ammarahmad.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>A.Ahmad</h4>
                  <span>Project Manager</span>
                  <div class="social">
                    <a href="https://youtube.com/@visionaryvault_ai"><i class="fa fa-youtube-play"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <!--<a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>A.Bashir</h4>
                  <span>Business Intelligence Analyst</span>
                  <div class="social">
                    <a href=""><i class="fa fa-youtube-play"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <!--<a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'img/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>H.Sheikh</h4>
                  <span>Client Experience Director</span>
                  <div class="social">
                    <a href=""><i class="fa fa-youtube-play"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <!--<a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
          <p>They aren’t just clients to us – they are partners in our journey, and each collaboration reflects a shared vision, trust, and the personal connections we deeply value.</p>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'img/testimonial-1.jpeg' %}" alt="">
          <img src="{% static 'img/testimonial-2.svg' %}" alt="">
          <img src="{% static 'img/testimonial-3.png' %}" alt="">
          <img src="{% static 'img/testimonial-4.jpeg' %}" alt="">
          <img src="{% static 'img/testimonial-5.png' %}" alt="">
          <img src="{% static 'img/testimonial-6.png' %}" alt="">
          <img src="{% static 'img/testimonial-7.png' %}" alt="">
          <img src="{% static 'img/testimonial-8.webp' %}" alt="">
        </div>

      </div>
    </section><!-- #clients -->


    <!--==========================
      Pricing Section
    ============================-->
    <section id="pricing" class="wow fadeInUp section-bg">

      <div class="container">

        <header class="section-header">
          <h3>Pricing</h3>
          <p>Please note that all prices are indicative and subject to a final quote provided after a consultation.</p>
        </header>
            <!-- Added Pricing Toggle Buttons -->
      <div class="radio-toolbar-3">
        <input type="radio" id="monthly" name="subscription-type" value="monthly" checked>
        <label for="monthly" onclick="togglePricing('monthly')">Monthly</label>

        <input type="radio" id="annual" name="subscription-type" value="annual">
        <label for="annual" onclick="togglePricing('annual')">Yearly</label>
      </div>

        <div class="row flex-items-xs-middle flex-items-xs-center">

          <!-- Basic Plan  -->
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3>
                  <span class="currency">$</span>
                  <span class="price" data-monthly="299" data-annual="249">249</span>
                  <span class="period">/month</span>
                </h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Basic
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Website Development: Business Portfolio Website.</li>
                  <li class="list-group-item">Social Media Management: 10 posts/month on all platforms.</li>
                  <li class="list-group-item">Content Calendar: Monthly calendar with basic scheduling recommendations.</li>
                  <li class="list-group-item">Search Engine Optimization & Indexing</li>
                  <li class="list-group-item">Monthly Reporting: Basic analytics report.</li>
                  <li class="list-group-item">Customer Reviews Assistance: Collection and management setup for reviews.</li>

                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"></path>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"></path>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>We<br>believe in<br>passionate<br>people</h2>
                <a href="#0">Career
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"></path>
                    </g>
                    </svg>
                  </span>
                </a>
                <img src="{% static 'img/about-visual.png' %}" alt="About Us">
              </div>
              <div class="about--options">
                <a href="#0">
                  <h3>Winners</h3>
                </a>
                <a href="#0">
                  <h3>Philosophy</h3>
                </a>
                <a href="#0">
                  <h3>History</h3>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>Pawia 5, 31-154 Kraków, Poland</p>
                    <a href="mailto:info@sadn.uk">ouremail@gmail.com</a>
                    <a href="tel:+148126287560">+48 12 628 75 60</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="#0">Bēhance</a></li>
                    <li><a href="#0">dribbble</a></li>
                    <li><a href="mailto:ouremail@gmail.com">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>You want us to do</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"></path>
                      </g>
                      </svg>
                      App Design
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"></path>
                      </g>
                      </svg>
                      Graphic Design
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                            <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"></path>
                      </g>
                      </svg>
                      Motion Design
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"></path>
                      </g>
                      </svg>
                      UX Design
                    </label>
                    <input id="opt-5" type="checkbox" value="webdesign">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"></path>
                      </g>
                      </svg>
                      Webdesign
                    </label>
                    <input id="opt-6" type="checkbox" value="marketing">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"></path>
                      </g>
                      </svg>
                      Marketing
                    </label>
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Name</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                </div>
                <input type="submit" value="Send Request">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Works</li>
    <li>About</li>
    <li>Contact</li>
    <li>Hire us</li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"><\/script>')</script>
<script src="{% static 'js/functions-min.js' %}"></script>
</body>
</html>